html {
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Raleway', sans-serif;
    font-weight: 400;
    background-color: var(--main-teal);
    color: var(--main-white);
    text-align: center;
}

#main {
    position: relative;
    top: 3rem;
}

:root {
    --main-teal: hsla(183, 45%, 10%, 1);
    --main-white: hsla(56, 55%, 90%, 1);
    --light-teal: hsla(183, 45%, 20%, 1);
    --light-white: hsla(56, 55%, 95%, 1);
    --dark-teal: hsla(183, 45%, 5%, 1);
}

nav {
    background-color: var(--main-white);
    width: 100%;
    padding: 1rem 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 3px 1px var(--dark-teal);
}

nav a {
    padding: 0 2rem;
    margin: 0 1rem;
    color: var(--main-teal);
    font-weight: 800;
    font-size: 20px;
    outline: thick double var(--main-teal);
    border-radius: 4px;
    box-shadow: 3px 3px 1px var(--main-teal);
}   

nav a:hover {
    color: var(--dark-teal);
    background-color: var(--light-white);
    box-shadow: 3px 3px 1px var(--dark-teal), 0 -3px 1px var(--light-white), 0 3px 1px var(--light-white);
}

nav a:active {
    color: var(--main-white);
    background-color: var(--main-teal);
    outline-color: var(--main-white);
    box-shadow: 3px 3px 1px var(--main-white), -3px -3px 1px var(--main-teal), 0 3px 1px var(--main-teal);
}

header {
    width: 100%;
}

body {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
}

#form, #form-profit {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    justify-content: center;
    width: 100%;
}

p {
    color: var(--main-white);
    text-decoration: underline;
    margin: 1rem 0; 
}

#form select, 
#form option,
#form input,
#result-div,
#profession,
#form-profit select,
#form-profit option,
#form-profit input {
    margin: 1rem;
    font-family: 'Trebuchet MS', 'Raleway', sans-serif;
    font-weight: 400;
    
}

#div-title,
#crops-available label,
#profession label {
    margin: 0;
}

#result-div, 
#div-title, 
#submit,
#crops-available,
.big-container {
    padding: 0.5rem;
}

#main, 
body,
#result-div,
.crop-div,
.extra-crops,
.radio-container,
.remove,
.column,
.mobile,
#formula-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

#result-div,
.crop-div,
.remove,
.column {
    flex-direction: column;
}

#result-div,
#form, 
.big-container,
#form-profit {
    border: 4px double var(--main-white);
    border-radius: 6px;
}

input[type='radio'] {
    appearance: none;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    outline: thick double var(--dark-teal);
    transition: 0.1s all linear;
    background-color: var(--main-white);
}

input[type='radio']:checked {
    border: 4px solid var(--dark-teal);
    outline: double var(--main-white);
}

input[type='radio']:hover,
#submit:hover,
input[type='checkbox']:hover {
    cursor: pointer;
}

input[type='number'],
select {
    text-align: center;
    background-color: var(--main-white);
    border: double var(--dark-teal);
    border-radius: 6px;
}

#div-title {
    font-weight: 600;
    font-size: 20px;
}

/*input[type='checkbox'] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.extra-crops::after {
    position: relative;
    height: 15px;
    width: 15px;
    margin: 0.6rem;
    background-color: var(--main-white);
    content: '';
    border: double var(--dark-teal);
    border-radius: 6px;
}

.extra-crops::after:hover {
    background-color: var(--light-white);
}*/

#submit {
    background-color: var(--main-white);
    border-radius: 6px;
    border: 5px double var(--light-teal);
    color: var(--main-teal);
}

#submit:hover {
    background-color: var(--light-white);
    border: thick double var(--dark-teal);
}

#submit:active {
    background-color: var(--dark-teal);
    border-color: var(--main-white);
    color: var(--main-white);
}

#mobile-check {
    display: none;
}

#profession label {
    padding-left: 0.3rem;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
}

@media only screen and (max-width: 480px) {

    #mobile-check {
        display: block;
    }

    .desktop {
        display: none;
    }

    #season {
        content: '--Season--';
    }
    
    .big-container {
        flex-direction: column;
    }



}