html {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    background-color: hsla(151, 45%, 10%, 1);
    color: wheat;
}

#form {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    justify-content: center;

}

#form  select,
#form  option,
#form legend,
#form label,
#form input {
    margin: 1rem;
}

label, 
legend {
    background-color: antiquewhite;
    color:hsla(151, 45%, 15%, 1);
    padding: 1rem;
    border-radius: 2px;
}

select, 
input {
    border: none;
    border-radius: 2px;
    height: 2rem;
}

option, input {
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
}

#main {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

body {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/*info div*/
#result-div {
    padding: 1rem;
    margin: 1rem;
    background-color: antiquewhite;
    border-radius: 2px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



#div-title {
    color:hsla(151, 45%, 15%, 1);
    font-weight: 800;
    padding: 1rem;
    text-align: center;
    text-decoration: underline;
}

.crop-div {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.crop-info {
    padding: 1rem;
    color:hsla(151, 45%, 15%, 1);
    width: auto;
}

#crops-available {
    display: inline-flex;
}

#crops-available label {
    margin: 0;
    padding: 0.3rem;
}

.extra-crops {
    border: 3px solid hsla(151, 45%, 15%, 1);
    border-radius: 4px;
    box-shadow: 1px 1px 1px hsla(151, 45%, 30%, 1);
    margin: 0.3rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.radio-container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

#submit {
    background-color: antiquewhite;
    color: hsla(151, 45%, 15%, 1);
    border-radius: 1px;
    border: 2px solid hsla(151, 45%, 30%, 1);
    padding: 0.5rem;
}

#submit:hover {
    background-color: hsla(34, 78%, 85%, 1);
    border-color:hsla(151, 45%, 15%, 1);
}

#submit:active {
    background-color: hsla(151, 45%, 15%, 1);
    border-color: antiquewhite;
    color: antiquewhite;
}

.column {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#big-container {
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
}

#mobile-check {
    display: none;
}

@media only screen and (max-width: 480px) {

    #mobile-check {
        display: block;
    }

    .desktop {
        display: none;
    }

    #fertilizer option[value='none'] {
        content: '--Fertilizer--';
    }

    #season option[value=''] {
        content: '--Season--';
    }

    #form {
        background-color: antiquewhite;
    }

    #big-container {
        flex-direction: column;
    }

    label, legend {
        padding: 0;
    }

    #form select,
    #form option, 
    #form legend,
    #form label, 
    #form input {
        margin: 0;
    }

    input[type='number'] {
        width: 2rem;
    }

    label[for='gold-to-spend'] {
        content: 'Gold:';
    }

    label[for='days'] {
        content: 'Days:';
    }

    label[for='level'] {
        content: 'Level';
    }


}