
main {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    margin-bottom: 2rem;
    text-decoration: underline;
    font-weight: bold;
    font-size: 20px;
}

.new-crop-container {
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: right;
}

.new-crop-container:hover,
.remove-container:hover {
    cursor: pointer;
    color: var(--light-white);
    text-decoration: underline;
}

#new-crop-button {
    text-decoration: none;
    font-size: 14px;
    padding: 0.3rem 0.5rem;
    margin-bottom: 0;
    margin-top: 0;
}

input[type='number'] {
    width: 3rem;
    text-align: center;
}

.crop-info {
    text-decoration: none;
    align-self: start;
}

.crop-title {
    font-size: 20px;
    font-weight: 800;
}

.remove-button {
    text-decoration: none;
    position: relative;
    font-size: 14px;
}



.remove-container {
    display: inline-flex;
    justify-content: right;
    align-items: center;
    position: absolute;
    top: 0%;
    right: 1%
}

.big-container {
    position: relative;
    z-index: 1;
}

#div-title {
    font-size: 25px;
}

.span {
    font-weight: thin;
}