
main {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    margin-bottom: 2rem;
    text-decoration: underline;
    font-weight: bold;
    font-size: 20px;
}

.new-crop-container {
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: right;
}

.new-crop-container:hover,
.remove-container:hover {
    cursor: pointer;
    color: var(--light-white);
    text-decoration: underline;
}

#new-crop-button {
    text-decoration: none;
    font-size: 14px;
    padding: 0.3rem 0.5rem;
    margin-bottom: 0;
    margin-top: 0;
}

input[type='number'] {
    width: 3rem;
    text-align: center;
}

.crop-info {
    text-decoration: none;
    align-self: start;
    margin: 0.3rem 0;
    font-size: 16px;
    width: 370px;
    line-height: 130%;
    text-align: center;
}

.crop-title {
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 1.5rem;
}

.remove-button {
    text-decoration: none;
    position: relative;
    font-size: 14px;
}



.remove-container {
    display: inline-flex;
    justify-content: right;
    align-items: center;
    position: absolute;
    top: 0%;
    right: 1%
}

.big-container {
    position: relative;
    z-index: 1;
}

#div-title {
    font-size: 30px;
    text-decoration: none;
}

#profit-type {
    margin: 1rem 0;
}

.span {
    font-weight: 100;
    font-size: 16px;
}

#formula-container input,
#gingerLabel input,
.checkbox-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    height: 15px;
    width: 15px;
    margin: 0.6rem;
    background-color: var(--main-white);
    content: '';
    border: double var(--dark-teal);
    border-radius: 6px;
}

#formula-container:hover input ~ .checkmark,
#gingerLabel:hover input ~ .checkmark,
.checkbox-label:hover input ~ .checkmark {
    background-color: var(--light-white);
    border: double var(--main-teal);
    cursor: pointer;
}

#formula-container input:checked ~ .checkmark,
#gingerLabel input:checked ~ .checkmark,
.checkbox-label input:checked ~ .checkmark {
    background-color: var(--dark-teal);
    border: double var(--main-white);
}

.checkmark:after {
    content: '';
    position: relative;
    display: none;
}

#formula-container input:checked ~ .checkmark:after,
#gingerLabel input:checked ~ .checkmark:after,
.checkbox-label input:checked ~ .checkmark:after {
    display: block;
}

.checkmark:after {
    left: 3px;
    bottom: 1px;
    width: 5px;
    height: 10px;
    border: solid var(--main-white);
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}

hr {
    border: none;
    border-top: 3px double var(--main-white); 
    height: 10px;
    text-align: center;
    width: 90%;
    overflow: visible;
    text-align: center;
    margin: 2rem 0 1rem;
}

hr::after {
    content: '§';
    position: relative;
    bottom: 10px;
    z-index: 2;
    background-color: var(--main-teal);
    padding: 0 15px;
}

#disclaimer-container {
    display: inline-flex;
    flex-direction: column;
    padding: 0.5rem;
    position: absolute;
    background-color: var(--dark-teal);
    left: 20rem;
    top: 38rem;
    border-radius: 4px;
    border: double var(--main-white);
}

#remaining-container {
    display: inline-flex;
    flex-direction: column;
    padding: 0.7rem 0.5rem;
    position: absolute;
    background-color: var(--dark-teal);
    left: 24rem;
    top: 50rem;
    border-radius: 4px;
    border: double var(--main-white);
}

#potential-container {
    display: inline-flex;
    flex-direction: column;
    padding: 0.7rem 1rem;
    position: absolute;
    background-color: var(--dark-teal);
    top: 49.5rem;
    left: 24.5rem;
    border-radius: 4px;
    border: double var(--main-white);
}

.disclaimer {
    font-size: 14px;
    text-decoration: none;
    margin: 0.5rem 0;
}